<div class="uk-flex uk-flex-middle uk-flex-center forgot">
    <mat-card class="uk-width-1-2@m">
        <div class="uk-flex uk-flex-center">
            <h3>Reset Password</h3>
        </div>
        <mat-card-content>
            <mat-form-field class="uk-width-1-1" appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput type="password" placeholder="New Password ...">
            </mat-form-field>

            <mat-form-field class="uk-width-1-1" appearance="outline">
                <mat-label>Confirm New Password</mat-label>
                <input matInput type="password" placeholder="New Password ...">
            </mat-form-field>

            <div class="uk-flex uk-flex-right">
                <button mat-raised-button class="uk-width-1-1" style="background-color: #F92601; color: white;">RESET
                    PASSWORD</button>
            </div>
            <div class="forgot">
                <a routerLink="/auth/login"><span class="iconify" data-icon="ic:baseline-keyboard-backspace"
                        data-inline="false" style="font-size: 38px; padding-right: 5px;"></span> Go to Sign in</a>
            </div>
        </mat-card-content>
    </mat-card>
</div>